body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #343a40;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    background-color: #ffffff;
}

form input[type="text"], form input[type="submit"], form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

.accordion {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
}

.accordion.active, .accordion:hover {
    background-color: #0056b3;
}

.panel {
    padding: 0 10px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.container {
    padding: 20px;
}

#courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width:300px;
    margin: 10px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.25em;
    color: #007bff;
}

.card-text {
    margin: 10px 0;
}

.card button {
    width: 100%;
    margin: 5px 0;
}

@media (max-width: 992px) {
    .card {
        width: 300px; 
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%;
    }
}
